.home {
    width: 500px;
    margin: 0 auto;
    color: #fff;
}

.home__header {
    font-size: 32px;
    text-align: center;
}

.home__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    height: 50px;
    line-height: 50px;
}

.home__li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}