.messagesBox{
    height: 550px;
    overflow: auto;
}

.message {
    width: 100%;
    margin-bottom: 10px;
}

.message__author{
    margin-bottom: 5px;
    color: tomato;
    text-transform: uppercase;
    font-weight: 700;
}

.message__text{
    text-transform: capitalize;
}

