.header {
    width: 100%;
    height: 10vh;
    background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(0,212,255,1) 80%, rgba(9,121,91,1) 100%);
}

.nav {
    height: inherit;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.nav__container {
    margin: 0 auto;
    max-width: 500px;
}

.nav__item {
    opacity: 0.7;
    padding: 29px;
    transition: all .3s;
}
.nav__item:hover {
    opacity: 1;
}
.nav__item a {
    height: 20px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-wrapper {
    min-height: 90vh;
    padding-top: 50px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,121,91,1) 35%, rgba(0,212,255,1) 100%);
}

.page {
    margin: 0;
    text-align: center;
    font-size: 36px;
    color: white;
}

.error {
    color: red;
}